---
export interface Props {
  imgSrc: string;
  imgAlt: string;
}

const { imgSrc, imgAlt } = Astro.props
---

<div class="logo-container">
  <img src={imgSrc} alt={imgAlt} />
</div>
<style>
  .logo-container {
  }
</style>
