---
export interface Props {
  imgSrc: string
  imgAlt: string
  link: string
}

const { imgSrc, imgAlt, link } = Astro.props
---

<a href={link} target="_blank" rel="noreferrer" class="logo-container-link" aria-label={imgAlt}>
  <div class="logo-container" style={{ backgroundImage: `url(${imgSrc})` }}></div>
  <div class="logo-text-container">
    <span>{imgAlt}</span>
  </div>
</a>

<style lang="scss">
  .logo-container-link {
    color: #fff !important;
    text-decoration: none;
    &:hover {
      color: #fff;
    }
  }
  .logo-container {
    background-size: contain;
    width: 160px;
    height: 160px;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    transition: all 2s;
    filter: brightness(0.7);
    flex-direction: column-reverse;
    &:hover {
      filter: brightness(1);
    }
  }
  .logo-text-container {
    text-align: center;
    span {
      position: relative;
      bottom: 40px;
      filter: brightness(1.5);
    }
  }
</style>
