---
import DefaultLayout from './DefaultLayout.astro'

const {
  frontmatter: { heroImage, title, description },
} = Astro.props
---

<DefaultLayout title={title} description={description}>
  <div class="container">
    <!-- Add bread crumbs from ...slug -->
    <img src={heroImage} alt={title} />
    <div class="post">
      <slot />
    </div>
  </div>
</DefaultLayout>
