// | -------------------------------------------------------------
// | Globals
// | -------------------------------------------------------------

@use 'base/reset';
@use 'base/root';
@use 'base/font';
@use 'base/list';
@use 'base/container';
@use 'base/breakpoint';
@use 'base/button';
@use 'base/color';
@use 'base/outline';
@use 'base/space-content';

// Table styles
tr:nth-child(even) {
  background-color: #f2f2f2;
}

.darkmode tr:nth-child(even) {
  background-color: black;
}

.main-blog-img {
  max-height: 750px;
}

ol {
  list-style: decimal;
}


input {
  align-self: center;
  color: black;
  border-radius: 0.25rem;
  padding: 0.25rem;
  &:focus-visible {
    outline: 2px solid var(--action-color);
  }
}
