.tagContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 1rem 0;
  .tag {
    padding: 0.5rem;
    border: 2px solid var(--action-color);
    span {
      font-weight: 600;
    }
}
}


.cardContainer {
  max-width: 60ch;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  border-radius: 0.5rem;
  min-height: 100%;
  position: relative;
  overflow: hidden;
  transition: box-shadow .15s ease-in-out;
  &:focus-within, &:hover {
    box-shadow: 0 0 0 0.25rem;
  }
  .cardImage {
    height: 10rem;
    overflow: hidden;
    img {
      object-fit: cover;
    }
  }
  .cardContent:last-child {
    margin-top: auto;
    padding-top: 2rem;
  }
  .cardContent {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   padding: 1rem;
   h3 {
    font-size: 1.875rem;
    line-height: 2.8125rem;
   }
  }
  a {
    &::after {
      content: "";
      position: absolute;
      inset: 0;
    }
  }
}

  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }