---
interface Props {
  tag: string
}
const { tag } = Astro.props
---

<div>
  <span>{tag}</span>
</div>

<style lang="scss">
  div {
    padding: 0.5rem;
    border: 2px solid var(--action-color);
    span {
      font-weight: 600;
    }
  }
</style>
