@import '../../styles/variables.scss';

.cardContainer {
    background-color: $dark-blue-bg;
    max-width: 600px;
    border-radius: 18px;
    margin: 12px 0 !important;
    border-color:$primary;
}