---
import DefaultLayout from '@layouts/DefaultLayout.astro'

import { getCollection, type CollectionEntry } from 'astro:content'
import Input from '@components/Input'
import PostsContainer from '@components/posts/PostsContainer'

type BlogProps = CollectionEntry<'blog'> & { data: { title?: string; tags?: string[] } }

const posts: BlogProps[] = (await getCollection('blog')).sort(
  (a, b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
)
---

<DefaultLayout
  title="Post"
  description="An example of a post with dynamic content fetched from JSONPlaceholder using the title, body and userId."
>
  <section class="my-12">
    <div class="space-content posts-title container">
      <h1>Blog Posts</h1>
      <div>
        <Input client:load name={'blog-search'} label={'Search for a blog'} placeholder={'Blog Search'} />
      </div>
    </div>
  </section>
  <PostsContainer client:load posts={posts} />
</DefaultLayout>

<style lang="scss">
  .posts-title {
    display: flex;
    justify-content: space-between;
    div {
      margin-top: 0;
    }
  }
</style>
