@import '../../styles/variables.scss';

.privacyPolicyContainer {
  color: black;
  .privacyPolicyContent {
    background: linear-gradient(to right, #e4e6e9, #f7e6da, #f5d5bf);
    p {
      padding: 8px 0;
      font-size: 20px;
    }
    h2 {
      padding: 8px 0;
    }
    ul {
      font-size: 20px;
    }
  }
}