---
import { Icon } from 'astro-icon/components'
const { iconName, text, colour, link } = Astro.props
---

<section class="my-12">
  <div class="container flex">
    <a href={link} rel="external noopener noreferrer" target="_blank">
      <Icon name={`mdi:${iconName}`} size={24} color={colour} />
    </a>
    <span class="text-2xl">{text}</span>
  </div>
</section>

<style lang="sass">
  .flex
    display: flex
    gap: 20px
  [data-icon]
    cursor: pointer
</style>
