@import 'styles/variables.scss';

.blogLayout {
  background: linear-gradient(to right, #e4e6e9, #f7e6da, #f5d5bf);
  .blogHeading {
    padding: 0 0 20px 0;
  }
  h2 {
    padding: 8px 0;
    font-size: 24px;
  }
  p {
    padding: 8px 0;
    font-size: 20px;
  }
  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 3px solid rgba(255, 0, 0, 0.2);
    color: $link-blue;
  }
  a:hover {
    border-bottom: 3px solid rgba(255, 0, 0, 0.8);
  }
  ul {
    font-size: 20px;
    padding-bottom: 8px;
  }
  img {
    padding: 16px 0;
  }

}