---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import AboutMeLogo from '../components/contact-me/AboutMeLogo.astro'
---

<DefaultLayout title="Contact Me">
  <section class="my-12">
    <h1>Find Me On...</h1>
    <div class="contact-me-container container">
    </div>
  </section>
</DefaultLayout>

<style lang="scss">
  h1 {
    text-align: center;
  }
  .contact-me-container {
    
  }
</style>
