---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import MediaLinksLogo from '@components/contact-me/MediaLinksLogo.astro'
import { socialMediaData } from '@lib/SocialMediaCardData'
---

<DefaultLayout title="Contact Me">
  <section>
    <h1>Find Me On...</h1>
    <div class="contact-me-container container">
      {
        socialMediaData.map((mediaData) => (
          <MediaLinksLogo imgSrc={mediaData.imgSrc} imgAlt={mediaData.imgAlt} link={mediaData.link} />
        ))
      }
    </div>
  </section>
</DefaultLayout>

<style lang="scss">
  h1 {
    text-align: center;
    padding: 1rem 0;
  }
  .contact-me-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0 4rem;
    @media (max-width: 750px) {
      gap: 0.5rem;
      padding: 0 1rem;
    }
  }
</style>
