---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import LatestPosts from '../components/LatestPosts.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-4">
    <div class="container">
      <div class="mb-4 flex gap-8">
        <h2 class="text-3xl">Latest Blogs</h2>
        <a class="text-3xl" href="/posts/">View all blogs</a>
      </div>
      <LatestPosts />
    </div>
  </section>
</DefaultLayout>
