---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import Hero from '@components/Hero.astro'
import { Card } from 'accessible-astro-components'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-4">
    <div class="container">
      <div class="mb-4 flex gap-8">
        <h2 class="text-3xl">Latest Blogs</h2>
        <a class="text-3xl" href="/posts/">View all blogs</a>
      </div>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Card
          url="/posts/survivng-redundancy"
          title="Surviving the Redundancy: My Journey of Reclaiming My Job"
          footer="January 24 2024"
          img="/blog/interview_stock_photo.webp"
        >
          The company I used to work for was a tiny family-run business based in the middle of nowhere in the British
          countryside. It was a great operation where everyone made a real impact....
        </Card>
        <Card
          url="/posts/1000most-common-indonesian-words"
          title="The 1,000 most common Indonesian Words"
          footer="August 28 2022"
          img="/blog/1000most-common-indonesian-words.webp"
        >
          A collection of the top 1,000 most used Indonesian words and phrases to help boost your language learning
        </Card>
        <Card
          url="/posts/building-ci-cd-for-free"
          title="Setting up CI/CD for free"
          footer="August 28 2022"
          img="/blog/building-ci-cd-for-free.webp"
        >
          Step by step guide on how you can save hours of work by setting up CI/CD all for free
        </Card>
      </div>
    </div>
  </section>
</DefaultLayout>
