---
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container flex justify-between">
      <p>
        &copy; {currentYear} - Aidan Lowson
      </p>
      <a href="https://devdailyhub.com" target="_blank">Technical Blog</a>
    </div>
  </section>
</footer>
