@import '../../styles/variables.scss';

.headingContainer {
  .heading {
    &::before {
      content: "";
      position: absolute;
      background: $primary;
      width: 87%;
      height: 8px;
      animation: topSlideIn 1.2s ease-in-out forwards;
      @media (max-width: $isMobile) {
        height: 4px;
      }
    }
    &::after {
      content: "";
      position: absolute;
      background: $primary;
      width: 87%;
      height: 8px;
      bottom: 180px;
      left: 6.6%;
      animation: topSlideIn 1.2s ease-in-out forwards;
      @media (max-width: $isMobile) {
        height: 4px;
      }
    }
  }
}

@keyframes topSlideIn {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(100%);
  }
}