---
import DefaultLayout from './DefaultLayout.astro'

const {
  frontmatter: { title, description },
} = Astro.props
---

<DefaultLayout title={title} description={description}>
  <div class="container">
    <div class="post">
      <slot />
    </div>
  </div>
</DefaultLayout>
