html,
body {
  padding: 0;
  margin: 0;
  background-color: #eee !important;
}

a {
  color: red;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

.fadingText {
  animation: fadingAnimation 6s ease alternate infinite;
  opacity: 1;
  cursor: default;
  font-family: "Aguafina Script", cursive;
  color: red;
  text-shadow: 0 1px 1px #fff;
}

@keyframes fadingAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}